@charset "utf-8";

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box img{
    margin: 30px 30px;
}

.caption{
    width: 300px;
    padding: 10px;
    margin: 20px;
}

.caption h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.caption p{
    text-align: justify;
    font-family: sans-serif;
    font-size: 18px;
    color: #ffffff70;
}

.banners{
    display: flex;
    flex-direction: column;
}

.banners2{
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}

.banner{
    width: 200px;
    height: 70px;
    background: linear-gradient(#5c04f4, #010622);
    margin: 20px;
    transform-style: preserve-3d;
}
 
.banner h3{
    text-align: center;
    margin-top: 20px;
    transform: perspective(1000px);
    transform: translateZ(20px);
    color: #ece1ff;
}

