@charset "utf-8";

.area-loguin{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;
}

.area-loguin h1{
    margin-bottom: 15px;
}

.input-login{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.buton-login{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.buton-login:hover{
    background-color: deepskyblue;
}
